extends layout

block content
  div(class='list-page')
    h1= title
    div(class='breads-list')
      ul(class='items-list')
        each brand in breadbrand_list
          li
            div(class='items-list-img-title')
              img(src=`/images/${brand.img}` class='logo-mini' )
              a(href=brand.url class='link') #{brand.title}
            p(class='brand-description') #{brand.description}
        else
          li(class="empty_list") We carry no bread :(