extends layout

block content

  //- h1 #{breadbrand.title}

  img(src=`/images/${breadbrand.img}` alt='Brand Logo' class='brand-logo')

  div
    h1 Breads by #{breadbrand.title} that we carry
    div(class='breads-list')
      dl
        each bread in specificbreads
          dt
            a(href=bread.url class="link") #{bread.type}
            p #{bread.details}

        else
          p We do not yet carry any breads with #{breadbrand.title}
  
  hr
  div(class='change-buttons')
    p
      a(href=breadbrand.url+'/update' class='link change-btns') + Update #{breadbrand.title} 
    p
      a(href=breadbrand.url+'/delete' class='link change-btns') - Remove #{breadbrand.title}
  