extends layout

block content

  h1 Brand: #{breadbrand.title}

  div(style='margin-left:20px;margin-top:20px')

    h4 Breads carried here

    dl
      each bread in specificbreads
        dt
          a(href=bread.url) #{bread.type}
        dd #{bread.details}

      else
        p There are no breads associated with this brand
  
  hr
  p
    a(href=breadbrand.url+'/delete') Delete bread
  p
    a(href=breadbrand.url+'/update') Update bread