extends layout



block content
  h1= title

  ul(class='items-list shopping-list breads-list')
    each product in shoppingcart
      li(class='shopping-cart-item')
        img(src=`/images/${product.item.img}` alt="Bread picture" class='logo-mini' )
        a(href=product.item.url class="link") #{product.item.brand.title} - #{product.item.type}
        span #[i Qty] #[b #{product.quantity}]
        span #[i Amt] #[b $#{product.itemTotalFormatted}]
        form(method='POST' action=`/catalog/specificbread/${product._id}/removefromcart`)
            button(type="submit" class="btn") Remove
    else
      div(class='empty_list') There are no items in your shopping cart :(
  if grandTotal > 0
    p(class='grand-total') #[i Total] $#{grandTotal}
    

