extends layout



block content
  h1= title

  ul(class='items-list shopping-list breads-list')
    each product in shoppingcart
      li(class='shopping-cart-item')
        img(src=`/images/${product.img}` alt="Bread picture" class='logo-mini' )
        a(href=product.item.url class="link") #{product.item.brand.title} - #{product.item.type}
        div
          span #[i Qty] #{product.quantity}
        //- input(type="number" name='quantity' value=`${product.quantity}` min=`0` max=`${product.item.quantity}` )
        //- div
        //-   span 
        //-   span $#{product.item.price}
        div
          span #[i Amt] $#{product.itemTotal}
        form(method='POST' action=`/catalog/specificbread/${product._id}/removefromcart`)
            button(type="submit" class="btn") Remove
     
    else
      div(class='empty_list') There are no items in your shopping cart :(
  if grandTotal > 0
    p(class='grand-total') #[i Total] $#{grandTotal}
    

