extends layout

block content
  h1= title

  h2= `${specificbread.type}`
  p This bread is #{specificbread.details}

  hr
  p
    a(href=specificbread.url+'/delete') Delete bread
  p
    a(href=specificbread.url+'/update') Update bread
  form(method='POST' action=`/catalog/specificbread/${specificbread._id}/addtocart`)
    input(type='number' name='quantity' min='1' max=`${specificbread.quantity}`)
    button.btn.btn-primary(type='submit') Add to cart
