extends layout

block content
  h1= title
  div(class='breads-list')
      ul(class='items-list')
        each bread in specificbreads_list
          li
            div(class='items-list-img-title')
              img(src=`/images/${bread.img}` alt="Bread picture" class='logo-mini' )
              a(href=bread.url class='link') #{bread.brand.title} - #{bread.type} 
            p #{bread.details}
        else
          li We have no kinds of bread in our shop :(