extends layout

block content
  
  img(src=`/images/${specificbread.img}` alt='Bread Logo' class='brand-logo')
 
  div
    h1= `${specificbread.type} - ${specificbread.brand.title}`
    div(class='breads-list')
      ul(class='items-list')
        li #[b Description]
          p #[i #{specificbread.details}]
        li #[b Item Size]
          p #[i #{specificbread.weight}g]
        li #[b Price]
          p #[i $#{specificbread.price} CAD]
        if specificbread.instock 
          li #[b Unit(s) availible for sale]
            p #[i #{specificbread.quantity}]
        else 
          li #[b Item currently not availible for purchase]
    form(method='POST' action=`/catalog/specificbread/${specificbread._id}/addtocart`)
      input(type='number' name='quantity' min='1' max=`${specificbread.quantity}` required class="cart-input" value=(inCart === undefined ? '1' : inCart.quantity))
      if inCart === undefined
        button.btn.btn-primary(type='submit' class='btn') Add to cart
      else
        button.btn.btn-primary(type='submit' class='btn') Update cart
      
  
  div(class='change-buttons')
    p
      a(href=specificbread.url+'/update' class='link change-btns') + Update #{specificbread.brand.title} - #{specificbread.type}
    p
      a(href=specificbread.url+'/delete' class='link change-btns') - Remove #{specificbread.brand.title} - #{specificbread.type}


